.hero {
  height: 50vh;
  background: url("food\ img.webp.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.hero h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.hero button {
  background: orange;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.hero button:hover {
  background: darkorange;
}
@media (max-width: 600px) {
  .hero h1 { font-size: 1.8rem; }
  .hero p { font-size: 1rem; }
}
.menu h1 {
  display: inline;
  align-items: center;
}



.about-us .card {
  width: 100%;
  height: 300px;
  border: none;
}

.about-us .row {
  height: 100%;
  align-items: center;
}

.about-us .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}
.menu h1{
  display: flex;
  justify-self:center;
}
.contact-us{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

#about h2 p{
  font: bolder;
  color: white;
}
.navbar{
  background-color: black;
}